/* Main background settings with smooth gradient and animated horizontal shift */
body {
  background: linear-gradient(
    153deg,
    /* Dark Charcoal */ rgba(29, 29, 29, 0.996),
    /* Gunmetal Blue */ rgba(44, 62, 80, 0.904),
    /* Deep Purple */ rgba(58, 43, 93, 0.927),
    /* Jet Black */ rgba(18, 18, 18, 0.992),
    /* Dark Charcoal  */ rgba(29, 29, 29, 0.996) /* Repeat dark charcoal */
  );
  background-size: 130% 130%; /* Enlarges background for smooth movement */
  background-position: center; /* Centers the background */
  background-repeat: no-repeat; /* No background repeat */
  background-attachment: fixed; /* Background stays fixed when scrolling */
  animation: smoothHorizontalShift 14s linear infinite alternate; /* Background moves horizontally */
}

/* Defines the horizontal movement of the background */
@keyframes smoothHorizontalShift {
  0% {
    background-position: 0% 0%; /* Starts at top-left */
  }
  100% {
    background-position: 100% 0%; /* Moves to the right */
  }
}

/* Logo container styling: centers logo */
#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

/* Logo image styling: adjusts width and maintains aspect ratio */
.logo {
  width: 14%;
  max-width: 100%;
  height: auto;
}

/* Responsive styling for mobile screens */
@media (max-width: 767px) {
  .logo {
    max-width: 150px; /* Reduces logo size on smaller screens */
  }
}
